<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.carto.xamarin.advanced" android:versionName="3.1.0" android:versionCode="100">
	<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="21" />
	<application android:label="Advanced.Xam" android:icon="@mipmap/icon180"></application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>