<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.carto.xamarin.cartomap" android:versionName="3.3.0" android:versionCode="14">
	<uses-sdk android:minSdkVersion="11" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:allowBackup="true" android:icon="@mipmap/icon180" android:label="Carto Map"></application>
</manifest>