<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.carto.xamarin.cartomap" android:versionName="4.1.0.1" android:versionCode="19">
	<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="24" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:networkSecurityConfig="@xml/network_security_config" android:allowBackup="true" android:icon="@mipmap/icon180" android:label="Carto Map"></application>
</manifest>
