<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CartoMobileSDK.Android" version="4.4.0" targetFramework="monoandroid90" />
  <package id="HockeySDK.Xamarin" version="5.2.0" targetFramework="monoandroid60" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid60" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid60" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid60" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.2" targetFramework="monoandroid90" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="monoandroid60" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="monoandroid60" />
</packages>